<router-outlet></router-outlet>

<div class="container">
	<div class="row">
		<div class="col-2"></div> <!-- WHITESPACE -->
		
		<div class="col-8">
			<div class="card">
				<h1 class="card-header">CONTRIBUTE</h1>
				<div class="card-block">
					<h4 class="card-title">Instructions:</h4>
					<ol class="card-text">
						<li><a routerLink="/story-so-far">Read the story so far</a></li>
						<li>Compose your story in your editor of choice.</li>
						<li>Paste your copy into the text area below.</li>
						<li>Click 'Contribute to Story' to save your story.</li>
						<li>Nominate the next person to contriubute.</li>
					</ol>
				</div> <!-- end of card block -->
			</div> <!-- end of card -->
		</div> <!-- end of col 8 -->

		<div class="col-2"></div> <!-- WHITESPACE -->		
	</div> <!-- end of row -->

	<div class="row">
		<div class="col-2"></div> <!-- WHITESPACE -->
		
		<div class="col-8">
			<div class="card">
				<h1 class="card-header">ADD TO THE STORY</h1>
				<div class="card-block">
					<h4 class="card-title"><span class="author">AUTHOR:</span> Harper Nordeck</h4>
					<div class="card-text">
						<textarea name="contribute" id="" cols="30" rows="10" placeholder="Paste your story here..."></textarea>
						<button type="submit" class="btn btn-success" id="create" (click)='createStory()'>CONTRIBUTE TO STORY</button>
					</div>
				</div>
			</div> <!-- end of card -->
		</div> <!-- end of col 8 -->

		<div class="col-2"></div> <!-- WHITESPACE -->		
	</div> <!-- end of row -->
</div> <!-- end of container -->
