<router-outlet></router-outlet>

<div class="container">
	<div class="row">
		<div class="col-2"></div> <!-- WHITESPACE -->

		<div class="col-8">
			<div class="card">

				<h1 class="card-header">WELCOME</h1>
				<div class="card-block">
					<h3 class="card-title">Inspiration Only by <span class="highOrder">The High Order of The OctoMoose</span> allows creatives to collaborate on creating original stories, with each participant able to influnce the direction the story takes next.</h3>

					<h3 class="card-title">HOW DOES IT WORK?</h3>
					<p class="card-text">Participants are nominated by their peers to participate. Each participant is responsible for the next step in the story. Once a participant has their contribution saved, they nominate the next participant.</p>

					<p class="card-text">We fascilitate collabortation between writers on the generation of original stories.</p>
				</div> <!-- end card block -->

				<div class="card-footer">
					<h3 class="card-title"><span id="footerTitle">ARE YOU UP FOR IT?</span></h3>
					<button class="btn btn-success" routerLink="/signup">YES, SIGN ME UP</button>
					<button class="btn btn-danger">NO, THANK YOU</button>
				</div> <!-- end of card footer -->

			</div> <!-- end of card -->
		</div> <!-- end of col 8 -->
		
		<div class="col-2"></div> <!-- WHITESPACE -->
	</div> <!-- end of row -->
</div> <!-- end of container -->