<router-outlet></router-outlet>

<div class="container">
	<div class="row">
		<div class="col-2"></div> <!-- WHITESPACE -->

		<div class="col-8">

				<div class="card">
				  <div class="card-block">
				    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				  </div>
				  <div class="card-footer text-centered text-muted">
				    <h6>Billy Bob Joe Bubba Sue</h6> 
				    <button>EDIT</button>
				  </div>
				</div> <!-- end of card -->

				<!-- PAGINATION -->
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="page-item">
							<a class="page-link" href="#" tabindex="-1">Previous</a>
						</li>
    					<li class="page-item">
    						<a class="page-link" href="#">1</a>
    					</li>
    					<li class="page-item">
    						<a class="page-link" href="#">2</a>
    					</li>
    					<li class="page-item">
    						<a class="page-link" href="#">3</a>
    					</li>
    					<li class="page-item">
    						<a class="page-link" href="#">Next</a>
    					</li>
    				</ul>
    			</nav>

		</div> <!-- end of col 8 -->

		<div class="col-2"></div> <!-- WHITESPACE -->
	</div> <!-- end of row -->
</div> <!-- end of container -->
