.card {
	border-color: #2c333a;
	background-color: #f0f2f4;
}

.card-header {
	background-color: #2c333a;
	color: #FFA500;
}

.card-footer {
	background-color: #2c333a;
	padding-bottom: 25px;
}

#footerTitle {
		color: #f0f2f4;
}